<html>
  <head>
    <title>Biotype</title>
  </head> 
  <body>
    <h1>Number of Genes for each Biotype</h1>
    <small>Click here to go back to the <a href="/">homepage</a>.</small>
    <p>In this page you can find the list in ascending order of the number of genes for each biotype.</p>
  </body>
</html><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: justify-all;">
      <th>gene_biotype</th>
      <th>Number of genes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>vaultRNA</td>
      <td>1</td>
    </tr>
    <tr>
      <td>scRNA</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Mt_rRNA</td>
      <td>2</td>
    </tr>
    <tr>
      <td>pseudogene</td>
      <td>2</td>
    </tr>
    <tr>
      <td>bidirectional_promoter_lncRNA</td>
      <td>2</td>
    </tr>
    <tr>
      <td>IG_J_pseudogene</td>
      <td>3</td>
    </tr>
    <tr>
      <td>TR_D_gene</td>
      <td>3</td>
    </tr>
    <tr>
      <td>TR_J_pseudogene</td>
      <td>4</td>
    </tr>
    <tr>
      <td>ribozyme</td>
      <td>5</td>
    </tr>
    <tr>
      <td>TR_C_gene</td>
      <td>5</td>
    </tr>
    <tr>
      <td>TEC</td>
      <td>6</td>
    </tr>
    <tr>
      <td>IG_C_pseudogene</td>
      <td>9</td>
    </tr>
    <tr>
      <td>IG_C_gene</td>
      <td>14</td>
    </tr>
    <tr>
      <td>scaRNA</td>
      <td>16</td>
    </tr>
    <tr>
      <td>IG_J_gene</td>
      <td>18</td>
    </tr>
    <tr>
      <td>Mt_tRNA</td>
      <td>22</td>
    </tr>
    <tr>
      <td>3prime_overlapping_ncRNA</td>
      <td>26</td>
    </tr>
    <tr>
      <td>polymorphic_pseudogene</td>
      <td>29</td>
    </tr>
    <tr>
      <td>TR_V_pseudogene</td>
      <td>30</td>
    </tr>
    <tr>
      <td>IG_D_gene</td>
      <td>33</td>
    </tr>
    <tr>
      <td>transcribed_unitary_pseudogene</td>
      <td>53</td>
    </tr>
    <tr>
      <td>TR_J_gene</td>
      <td>71</td>
    </tr>
    <tr>
      <td>TR_V_gene</td>
      <td>93</td>
    </tr>
    <tr>
      <td>IG_V_gene</td>
      <td>130</td>
    </tr>
    <tr>
      <td>unitary_pseudogene</td>
      <td>141</td>
    </tr>
    <tr>
      <td>IG_V_pseudogene</td>
      <td>173</td>
    </tr>
    <tr>
      <td>sense_overlapping</td>
      <td>174</td>
    </tr>
    <tr>
      <td>snoRNA</td>
      <td>404</td>
    </tr>
    <tr>
      <td>transcribed_processed_pseudogene</td>
      <td>426</td>
    </tr>
    <tr>
      <td>processed_transcript</td>
      <td>450</td>
    </tr>
    <tr>
      <td>rRNA</td>
      <td>512</td>
    </tr>
    <tr>
      <td>transcribed_unprocessed_pseudogene</td>
      <td>661</td>
    </tr>
    <tr>
      <td>sense_intronic</td>
      <td>686</td>
    </tr>
    <tr>
      <td>misc_RNA</td>
      <td>956</td>
    </tr>
    <tr>
      <td>miRNA</td>
      <td>1173</td>
    </tr>
    <tr>
      <td>snRNA</td>
      <td>1807</td>
    </tr>
    <tr>
      <td>unprocessed_pseudogene</td>
      <td>2199</td>
    </tr>
    <tr>
      <td>antisense</td>
      <td>5088</td>
    </tr>
    <tr>
      <td>lincRNA</td>
      <td>6648</td>
    </tr>
    <tr>
      <td>processed_pseudogene</td>
      <td>9866</td>
    </tr>
    <tr>
      <td>protein_coding</td>
      <td>19385</td>
    </tr>
  </tbody>
</table>