<html>
  <head>
    <title>DataFrame</title>
  </head> 
  <body>
    <h1>Our DataFrame</h1>
    <small>Click here to go back to the <a href="/">homepage</a> or here to go back to our <a href="/dfinfo">dataframe information</a> page.</small>
    <p>To download and visualize the dataset used in our project click on the following GitHub link.</p>
    <a style="color: blue;" href="https://github.com/anuzzolese/genomics-unibo/blob/master/2019-2020/project/dataset/gene_table.txt"> GitHub dataset </a>
  </body>
</html>