<html>
  <head>
    <title>DataFrame</title>
  </head> 
  <body>
    <h1>About our DataFrame</h1>
    <p>On this page you will find the analyzed DataFrame and general information about it.</p>
    <ul>
        <li><a style="text-decoration: none; color: blue;" href="dataframe"> Our Dataframe </a></li>
        <li><a style="text-decoration: none; color: blue;" href="dimensions"> Dimensions </a></li>
        <li><a style="text-decoration: none; color: blue;" href="semantics"> Semantics </a></li>
    </ul>
	<form action=/ style="text-align: center;"> <button type=”submit”>Homepage</button> </form>
  </body>
</html>