<html>
  <head>
    <title>Genes per Chromosomes</title>
  </head> 
  <body>
    <h1>Number of Genes per Chromosomes</h1>
    <small>Click here to go back to the <a href="/">homepage</a>.</small>
    <p>This page prints the list in ascending order of the number of genes for each chromosome.</p>
  </body>
</html><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: justify-all;">
      <th>chromosome</th>
      <th>Number of genes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>chrCHR_HSCHR22_1_CTG7</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_5_CTG4</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR19_1_CTG3_1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR15_4_CTG8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HG151_NOVEL_TEST</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR19_4_CTG3_1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_5_CTG3</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_1_CTG2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR18_1_CTG1_1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_2_CTG1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR4_6_CTG12</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR18_2_CTG2_1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrKI270713.1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrKI270711.1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR3_9_CTG3</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_4_CTG4</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR16_1_CTG1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HG142_HG150_NOVEL_TEST</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_APD_CTG1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_1_CTG4</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR20_1_CTG1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR3_1_CTG1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_1_CTG31</td>
      <td>3</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR12_2_CTG2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_2_CTG31</td>
      <td>3</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_DBB_CTG1</td>
      <td>14</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_MCF_CTG1</td>
      <td>22</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_SSTO_CTG1</td>
      <td>25</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_MANN_CTG1</td>
      <td>25</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_COX_CTG1</td>
      <td>31</td>
    </tr>
    <tr>
      <td>chrMT</td>
      <td>37</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_QBL_CTG1</td>
      <td>55</td>
    </tr>
    <tr>
      <td>chrY</td>
      <td>470</td>
    </tr>
    <tr>
      <td>chr21</td>
      <td>639</td>
    </tr>
    <tr>
      <td>chr18</td>
      <td>999</td>
    </tr>
    <tr>
      <td>chr22</td>
      <td>1090</td>
    </tr>
    <tr>
      <td>chr13</td>
      <td>1095</td>
    </tr>
    <tr>
      <td>chr20</td>
      <td>1169</td>
    </tr>
    <tr>
      <td>chr15</td>
      <td>1784</td>
    </tr>
    <tr>
      <td>chr9</td>
      <td>1941</td>
    </tr>
    <tr>
      <td>chr10</td>
      <td>1943</td>
    </tr>
    <tr>
      <td>chr14</td>
      <td>2005</td>
    </tr>
    <tr>
      <td>chrX</td>
      <td>2109</td>
    </tr>
    <tr>
      <td>chr16</td>
      <td>2113</td>
    </tr>
    <tr>
      <td>chr8</td>
      <td>2152</td>
    </tr>
    <tr>
      <td>chr4</td>
      <td>2297</td>
    </tr>
    <tr>
      <td>chr6</td>
      <td>2459</td>
    </tr>
    <tr>
      <td>chr7</td>
      <td>2507</td>
    </tr>
    <tr>
      <td>chr12</td>
      <td>2531</td>
    </tr>
    <tr>
      <td>chr17</td>
      <td>2533</td>
    </tr>
    <tr>
      <td>chr5</td>
      <td>2598</td>
    </tr>
    <tr>
      <td>chr19</td>
      <td>2664</td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>2740</td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>2942</td>
    </tr>
    <tr>
      <td>chr2</td>
      <td>3589</td>
    </tr>
    <tr>
      <td>chr1</td>
      <td>4710</td>
    </tr>
  </tbody>
</table>