<html>
  <head>
    <title>Helping you</title>
  </head> 
  <body>
    <h1>This is our help page!</h1>
    <h4>Here you can find information that can help you navigate through our website.</h4>
	<p>In the Homepage you can see a list of coloured options. These are the different categories in which the DataSet which was analysed has been divided into. In order to view the data, select one of the options. This will lead you to another page in which you will either visualize the data directly or will be asked to pick a subcategory, which again will lead you to the page with displayed data.</p>
	<p>In each page you will find a link to the Homepage making it easier to return to it and pick a different category of data.</p>
    <p>Below you can find a diagram which could help simplify the understanding of the work flow of the website.</p>
	<img src="static/activity.png" alt="Activity diagram" width="1000" height="500">
	
	<form action=/ style="text-align: center;"> <button type=”submit”>Homepage</button> </form>
  </body>
</html>