<html>
  <head>
    <title>CNR pro.ject</title>
  </head>
  <body>
    <h1 style="color:rgb(51, 102, 0);">HomePage of the CNR Project</h1>
	
	<p>This is a list of the available activity you can do:</p>

  <ul>
    <li><a style="text-decoration: none; color: green;" href="dfinfo">Dataframe information</a></li>
    <li><a style="text-decoration: none; color: brown;" href="biotype">Biotype</a></li>
    <li><a style="text-decoration: none; color: red;" href="associate">Associate</a></li>
    <li><a style="text-decoration: none; color: orange;" href="chromosome">Chromosome</a></li>
    <li><a style="text-decoration: none; color: purple;" href="genechr">Genes Chromosome</a></li>
    <li><a style="text-decoration: none; color: blue;" href="strandperc">Strand percentage</a></li>
  </ul>
  
	<p>If you're having trouble we are happy to <a style="text-decoration: none; color: blue;" href="help">help</a> you.</p>
  <br><p style="text-align: center;"> © <a style="text-decoration: none; color: blue;" href="credits"> Credits </a></p>
  </body>
</html>