<html>
  <head>
    <title>Minus-strand Percentage</title>
  </head> 
  <body>
    <h1>Minus-strand percentage</h1>
    <small>Click here to go back to the <a href="/">homepage</a> or here to go back to the <a href="/strandperc">percentage</a> page.</small>
    <p>This page presents the percentage of genes on the minus-strand for each chromosome.</p>
  </body>
</html><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: justify-all;">
      <th>chromosome</th>
      <th>Minus strand</th>
      <th>Number of genes</th>
      <th>- percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>chr1</td>
      <td>2322.0</td>
      <td>4710</td>
      <td>49.299363</td>
    </tr>
    <tr>
      <td>chr10</td>
      <td>944.0</td>
      <td>1943</td>
      <td>48.584663</td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>1472.0</td>
      <td>2942</td>
      <td>50.033990</td>
    </tr>
    <tr>
      <td>chr12</td>
      <td>1269.0</td>
      <td>2531</td>
      <td>50.138285</td>
    </tr>
    <tr>
      <td>chr13</td>
      <td>558.0</td>
      <td>1095</td>
      <td>50.958904</td>
    </tr>
    <tr>
      <td>chr14</td>
      <td>976.0</td>
      <td>2005</td>
      <td>48.678304</td>
    </tr>
    <tr>
      <td>chr15</td>
      <td>883.0</td>
      <td>1784</td>
      <td>49.495516</td>
    </tr>
    <tr>
      <td>chr16</td>
      <td>1036.0</td>
      <td>2113</td>
      <td>49.029815</td>
    </tr>
    <tr>
      <td>chr17</td>
      <td>1306.0</td>
      <td>2533</td>
      <td>51.559416</td>
    </tr>
    <tr>
      <td>chr18</td>
      <td>491.0</td>
      <td>999</td>
      <td>49.149149</td>
    </tr>
    <tr>
      <td>chr19</td>
      <td>1303.0</td>
      <td>2664</td>
      <td>48.911411</td>
    </tr>
    <tr>
      <td>chr2</td>
      <td>1786.0</td>
      <td>3589</td>
      <td>49.763165</td>
    </tr>
    <tr>
      <td>chr20</td>
      <td>592.0</td>
      <td>1169</td>
      <td>50.641574</td>
    </tr>
    <tr>
      <td>chr21</td>
      <td>342.0</td>
      <td>639</td>
      <td>53.521127</td>
    </tr>
    <tr>
      <td>chr22</td>
      <td>505.0</td>
      <td>1090</td>
      <td>46.330275</td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>1395.0</td>
      <td>2740</td>
      <td>50.912409</td>
    </tr>
    <tr>
      <td>chr4</td>
      <td>1145.0</td>
      <td>2297</td>
      <td>49.847627</td>
    </tr>
    <tr>
      <td>chr5</td>
      <td>1295.0</td>
      <td>2598</td>
      <td>49.846035</td>
    </tr>
    <tr>
      <td>chr6</td>
      <td>1237.0</td>
      <td>2459</td>
      <td>50.305002</td>
    </tr>
    <tr>
      <td>chr7</td>
      <td>1187.0</td>
      <td>2507</td>
      <td>47.347427</td>
    </tr>
    <tr>
      <td>chr8</td>
      <td>1113.0</td>
      <td>2152</td>
      <td>51.719331</td>
    </tr>
    <tr>
      <td>chr9</td>
      <td>952.0</td>
      <td>1941</td>
      <td>49.046883</td>
    </tr>
    <tr>
      <td>chrCHR_HG142_HG150_NOVEL_TEST</td>
      <td>0.0</td>
      <td>2</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HG151_NOVEL_TEST</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR12_2_CTG2</td>
      <td>3.0</td>
      <td>3</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR15_4_CTG8</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR16_1_CTG1</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_1_CTG4</td>
      <td>2.0</td>
      <td>2</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_4_CTG4</td>
      <td>0.0</td>
      <td>2</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_5_CTG4</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR18_1_CTG1_1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR18_2_CTG2_1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR19_1_CTG3_1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR19_4_CTG3_1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_1_CTG31</td>
      <td>2.0</td>
      <td>3</td>
      <td>66.666667</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_2_CTG31</td>
      <td>2.0</td>
      <td>3</td>
      <td>66.666667</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_5_CTG3</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR20_1_CTG1</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_1_CTG2</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_1_CTG7</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_2_CTG1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR3_1_CTG1</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR3_9_CTG3</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR4_6_CTG12</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_APD_CTG1</td>
      <td>2.0</td>
      <td>2</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_COX_CTG1</td>
      <td>19.0</td>
      <td>31</td>
      <td>61.290323</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_DBB_CTG1</td>
      <td>10.0</td>
      <td>14</td>
      <td>71.428571</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_MANN_CTG1</td>
      <td>7.0</td>
      <td>25</td>
      <td>28.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_MCF_CTG1</td>
      <td>8.0</td>
      <td>22</td>
      <td>36.363636</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_QBL_CTG1</td>
      <td>30.0</td>
      <td>55</td>
      <td>54.545455</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_SSTO_CTG1</td>
      <td>13.0</td>
      <td>25</td>
      <td>52.000000</td>
    </tr>
    <tr>
      <td>chrKI270711.1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrKI270713.1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrMT</td>
      <td>9.0</td>
      <td>37</td>
      <td>24.324324</td>
    </tr>
    <tr>
      <td>chrX</td>
      <td>1031.0</td>
      <td>2109</td>
      <td>48.885728</td>
    </tr>
    <tr>
      <td>chrY</td>
      <td>230.0</td>
      <td>470</td>
      <td>48.936170</td>
    </tr>
  </tbody>
</table>