<html>
  <head>
    <title>Plus-strand Percentage</title>
  </head> 
  <body>
    <h1>Plus-strand percentage</h1>
    <small>Click here to go back to the <a href="/">homepage</a> or here to go back to the <a href="/strandperc">percentage</a> page.</small>
    <p>This page presents the percentage of genes on the plus-strand for each chromosome.</p>
  </body>
</html><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: justify-all;">
      <th>chromosome</th>
      <th>Plus strand</th>
      <th>Number of genes</th>
      <th>+ percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>chr1</td>
      <td>2388.0</td>
      <td>4710</td>
      <td>50.700637</td>
    </tr>
    <tr>
      <td>chr10</td>
      <td>999.0</td>
      <td>1943</td>
      <td>51.415337</td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>1470.0</td>
      <td>2942</td>
      <td>49.966010</td>
    </tr>
    <tr>
      <td>chr12</td>
      <td>1262.0</td>
      <td>2531</td>
      <td>49.861715</td>
    </tr>
    <tr>
      <td>chr13</td>
      <td>537.0</td>
      <td>1095</td>
      <td>49.041096</td>
    </tr>
    <tr>
      <td>chr14</td>
      <td>1029.0</td>
      <td>2005</td>
      <td>51.321696</td>
    </tr>
    <tr>
      <td>chr15</td>
      <td>901.0</td>
      <td>1784</td>
      <td>50.504484</td>
    </tr>
    <tr>
      <td>chr16</td>
      <td>1077.0</td>
      <td>2113</td>
      <td>50.970185</td>
    </tr>
    <tr>
      <td>chr17</td>
      <td>1227.0</td>
      <td>2533</td>
      <td>48.440584</td>
    </tr>
    <tr>
      <td>chr18</td>
      <td>508.0</td>
      <td>999</td>
      <td>50.850851</td>
    </tr>
    <tr>
      <td>chr19</td>
      <td>1361.0</td>
      <td>2664</td>
      <td>51.088589</td>
    </tr>
    <tr>
      <td>chr2</td>
      <td>1803.0</td>
      <td>3589</td>
      <td>50.236835</td>
    </tr>
    <tr>
      <td>chr20</td>
      <td>577.0</td>
      <td>1169</td>
      <td>49.358426</td>
    </tr>
    <tr>
      <td>chr21</td>
      <td>297.0</td>
      <td>639</td>
      <td>46.478873</td>
    </tr>
    <tr>
      <td>chr22</td>
      <td>585.0</td>
      <td>1090</td>
      <td>53.669725</td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>1345.0</td>
      <td>2740</td>
      <td>49.087591</td>
    </tr>
    <tr>
      <td>chr4</td>
      <td>1152.0</td>
      <td>2297</td>
      <td>50.152373</td>
    </tr>
    <tr>
      <td>chr5</td>
      <td>1303.0</td>
      <td>2598</td>
      <td>50.153965</td>
    </tr>
    <tr>
      <td>chr6</td>
      <td>1222.0</td>
      <td>2459</td>
      <td>49.694998</td>
    </tr>
    <tr>
      <td>chr7</td>
      <td>1320.0</td>
      <td>2507</td>
      <td>52.652573</td>
    </tr>
    <tr>
      <td>chr8</td>
      <td>1039.0</td>
      <td>2152</td>
      <td>48.280669</td>
    </tr>
    <tr>
      <td>chr9</td>
      <td>989.0</td>
      <td>1941</td>
      <td>50.953117</td>
    </tr>
    <tr>
      <td>chrCHR_HG142_HG150_NOVEL_TEST</td>
      <td>2.0</td>
      <td>2</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HG151_NOVEL_TEST</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR12_2_CTG2</td>
      <td>0.0</td>
      <td>3</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR15_4_CTG8</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR16_1_CTG1</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_1_CTG4</td>
      <td>0.0</td>
      <td>2</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_4_CTG4</td>
      <td>2.0</td>
      <td>2</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR17_5_CTG4</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR18_1_CTG1_1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR18_2_CTG2_1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR19_1_CTG3_1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR19_4_CTG3_1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_1_CTG31</td>
      <td>1.0</td>
      <td>3</td>
      <td>33.333333</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_2_CTG31</td>
      <td>1.0</td>
      <td>3</td>
      <td>33.333333</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR1_5_CTG3</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR20_1_CTG1</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_1_CTG2</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_1_CTG7</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR22_2_CTG1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR3_1_CTG1</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR3_9_CTG3</td>
      <td>1.0</td>
      <td>2</td>
      <td>50.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR4_6_CTG12</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_APD_CTG1</td>
      <td>0.0</td>
      <td>2</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_COX_CTG1</td>
      <td>12.0</td>
      <td>31</td>
      <td>38.709677</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_DBB_CTG1</td>
      <td>4.0</td>
      <td>14</td>
      <td>28.571429</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_MANN_CTG1</td>
      <td>18.0</td>
      <td>25</td>
      <td>72.000000</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_MCF_CTG1</td>
      <td>14.0</td>
      <td>22</td>
      <td>63.636364</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_QBL_CTG1</td>
      <td>25.0</td>
      <td>55</td>
      <td>45.454545</td>
    </tr>
    <tr>
      <td>chrCHR_HSCHR6_MHC_SSTO_CTG1</td>
      <td>12.0</td>
      <td>25</td>
      <td>48.000000</td>
    </tr>
    <tr>
      <td>chrKI270711.1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <td>chrKI270713.1</td>
      <td>1.0</td>
      <td>1</td>
      <td>100.000000</td>
    </tr>
    <tr>
      <td>chrMT</td>
      <td>28.0</td>
      <td>37</td>
      <td>75.675676</td>
    </tr>
    <tr>
      <td>chrX</td>
      <td>1078.0</td>
      <td>2109</td>
      <td>51.114272</td>
    </tr>
    <tr>
      <td>chrY</td>
      <td>240.0</td>
      <td>470</td>
      <td>51.063830</td>
    </tr>
  </tbody>
</table>