<html>
  <head>
    <title>Labels</title>
  </head> 
  <body>
    <h1>Labels of the DataFrame</h1>
    <small>Click here to go back to the <a href="/">homepage</a> or here to go back to our <a href="/dfinfo">dataframe information</a> page.</small>
    <p>Here you are able to visualize the general semantics of the dataset.</p>
    <p>These are the labels of the columns of the dataset:</p>
  </body>
</html><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: justify-all;">
      <th>Labels</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>gene_name</td>
    </tr>
    <tr>
      <td>gene_biotype</td>
    </tr>
    <tr>
      <td>chromosome</td>
    </tr>
    <tr>
      <td>strand</td>
    </tr>
    <tr>
      <td>transcript_count</td>
    </tr>
  </tbody>
</table>