<html>
  <head>
    <title>Percentage</title>
  </head> 
  <body>
    <h1>Plus- and Minus-strand percentage</h1>
    <small>Click here to go back to the <a href="/">homepage</a>.</small>
    <p>To see the percentage of genes on the <i>plus</i> or the <i>minus</i> strand for each chromosome, please select the strand of interest.</p>
    <ul>
      <li><a style="text-decoration: none; color: blue;" href="plus"> Plus strand </a></li>
      <li><a style="text-decoration: none; color: blue;" href="minus"> Minus strand </a></li>
    </ul>
  </body>
</html>